*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Comic Sans MS','Poppins',cursive;
}

body{
    background: linear-gradient(135deg,#ffd1dc,#ffe6f0);
    height:100vh;
    overflow:hidden;
}

/* Hide music control */
audio{
    display:none;
}

/* Page handling */
.page{
    display:none;
    width:100%;
    height:100vh;
    position:relative;
    text-align:center;
}

.active{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* Decorations */
.top-left{
    position:absolute;
    top:20px;
    left:20px;
    width:80px;
}

.top-right{
    position:absolute;
    top:20px;
    right:20px;
    background:#ff6f91;
    color:white;
    padding:10px 16px;
    border-radius:14px;
    font-weight:bold;
}

.bottom-left{
    position:absolute;
    bottom:20px;
    left:20px;
    width:120px;
}

.bottom-right{
    position:absolute;
    bottom:20px;
    right:20px;
    width:120px;
}

/* Main content */
.couple{
    width:160px;
    margin-bottom:15px;
}

h1{
    color:#ff4f7b;
    margin-bottom:8px;
}

h2{
    color:#ff87ab;
}

/* Buttons */
.buttons{
    display:flex;
    gap:22px;
    margin-top:25px;
}

.btn{
    padding:15px 38px;
    border:none;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.yes{
    background:#ff6f91;
    color:white;
}

.no{
    background:#ffc2d1;
}

.btn:hover{
    transform:scale(1.1);
}

/* Page 2 */
.sad-heart{
    width:120px;
    margin-bottom:20px;
}

/* Page 3 */
.gifts{
    display:flex;
    gap:20px;
    margin-top:25px;
}

.gift{
    background:#ffb3c6;
    padding:40px;
    width:120px;
    border-radius:20px;
    cursor:pointer;
    transition:0.3s;
}

.gift:hover{
    background:#ff6f91;
    color:white;
}

